//Fonts include
@import "../../assets/fonts/FuturaPT/stylesheet.scss";
@import "../../assets/fonts/SofiaPro/stylesheet.scss";
//Todo: clean fonts

body {
  font-family: 'Sofia Pro';
  text-transform: uppercase;
}